/* LoginForm.css */

.login-form-container {
    background-color: #020607;
    color: #e1ebe4;
    border-radius: 8px;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  /* Заголовок формы */
  .login-form-container h3 {
    margin-bottom: 1rem;
    color: #f7144e;
    text-align: center;
  }
  
  /* Стили для формы */
  .login-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  /* Стили для input полей */
  .login-form-container input {
    width: 100%;
    padding: 0.75rem;
    border: 2px solid #f7144e;
    border-radius: 8px;
    background-color: #020607;
    color: #e1ebe4;
    margin-bottom: 0.5rem;
    transition: border-color 0.3s ease;
  }
  
  .login-form-container input:focus {
    border-color: #e1ebe4;
    outline: none;
  }
  
  /* Сообщения об ошибках */
  .login-form-container p {
    color: #f7144e;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
  }
  
  /* Кнопка отправки формы */
  .login-form-container button {
    padding: 0.75rem 1.5rem;
    border: 2px solid #f7144e;
    border-radius: 8px;
    background-color: #f7144e;
    color: #e1ebe4;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 1rem;
  }
  
  .login-form-container button:hover {
    background-color: #fde4e6;
    color: #f7144e;
  }
  